In [1]:
import pandas as pd

In [24]:
PPP_loans=pd.read_csv(r"C:\Users\vowel\Downloads\public_150k_plus_220403.csv")
PPP_loans.head()

,LoanNumber,DateApproved,SBAOfficeCode,ProcessingMethod,BorrowerName,BorrowerAddress,BorrowerCity,BorrowerState,BorrowerZip,LoanStatusDate,...,BusinessType,OriginatingLenderLocationID,OriginatingLender,OriginatingLenderCity,OriginatingLenderState,Gender,Veteran,NonProfit,ForgivenessAmount,ForgivenessDate
0,9547507704,05/01/2020,464,PPP,"SUMTER COATINGS, INC.",2410 Highway 15 South,Sumter,NaN,29150-9662,12/18/2020,...,Corporation,19248,Synovus Bank,COLUMBUS,GA,Unanswered,Unanswered,NaN,773553.37,11/20/2020
1,9777677704,05/01/2020,464,PPP,"PLEASANT PLACES, INC.",7684 Southrail Road,North Charleston,NaN,29420-9000,09/28/2021,...,Sole Proprietorship,19248,Synovus Bank,COLUMBUS,GA,Male Owned,Non-Veteran,NaN,746336.24,08/12/2021
2,5791407702,05/01/2020,1013,PPP,BOYER CHILDREN'S CLINIC,1850 BOYER AVE E,SEATTLE,NaN,98112-2922,03/17/2021,...,Non-Profit Organization,9551,"Bank of America, National Association",CHARLOTTE,NC,Unanswered,Unanswered,Y,696677.49,02/10/2021
3,6223567700,05/01/2020,920,PPP,KIRTLEY CONSTRUCTION INC,1661 MARTIN RANCH RD,SAN BERNARDINO,NaN,92407-1740,10/16/2021,...,Corporation,9551,"Bank of America, National Association",CHARLOTTE,NC,Male Owned,Non-Veteran,NaN,395264.11,09/10/2021
4,9662437702,05/01/2020,101,PPP,AERO BOX LLC,NaN,NaN,NaN,NaN,08/17/2021,...,NaN,57328,The Huntington National Bank,COLUMBUS,OH,Unanswered,Unanswered,NaN,370819.35,04/08/2021

In [25]:
PPP_loans.shape

(968532, 53)

In [28]:
PPP_loans_step1 = PPP_loans.loc[(PPP_loans.BorrowerCity =="Denver")& (PPP_loans.BorrowerState == "CO")]
PPP_loans_step1.head()

,LoanNumber,DateApproved,SBAOfficeCode,ProcessingMethod,BorrowerName,BorrowerAddress,BorrowerCity,BorrowerState,BorrowerZip,LoanStatusDate,...,BusinessType,OriginatingLenderLocationID,OriginatingLender,OriginatingLenderCity,OriginatingLenderState,Gender,Veteran,NonProfit,ForgivenessAmount,ForgivenessDate
165883,8590487004,04/08/2020,811,PPP,SNOOZE IMPORT EXPORT LLC,"3001 Brighton Blvd, Suite 303 0.0",Denver,CO,80216-5082,07/22/2021,...,Limited Liability Company(LLC),48270,"JPMorgan Chase Bank, National Association",COLUMBUS,OH,Unanswered,Unanswered,NaN,10116238.89,06/11/2021
165887,9596397007,04/09/2020,811,PPP,"PBS BRAND CO., LLC",3120 N Uinta St Ste 300 0.0,Denver,CO,80238-2694,NaN,...,Limited Liability Company(LLC),48270,"JPMorgan Chase Bank, National Association",COLUMBUS,OH,Unanswered,Unanswered,NaN,NaN,NaN
165894,1667347201,04/15/2020,811,PPP,"WELLTOK, INC.","1515 Arapahoe St Tower 3, Suite 700",Denver,CO,80202,07/09/2021,...,Corporation,111901,"LendingClub Bank, National Association",LEHI,UT,Unanswered,Unanswered,NaN,9061495.54,06/09/2021
165960,4971537306,04/30/2020,811,PPP,SULLIVAN'S HOLDING LLC,1855 Blake St Suite 200,Denver,CO,80202,NaN,...,Limited Liability Company(LLC),124650,Axos Bank,SAN DIEGO,CA,Unanswered,Unanswered,NaN,5384311.65,10/12/2021
165984,6162597203,04/27/2020,811,PPP,FRAC SHACK AMERICA INC,"999 18th Street, Suite 3400 S",Denver,CO,80202-2499,NaN,...,Corporation,378617,"HSBC Bank USA, National Association",MCLEAN,VA,Unanswered,Unanswered,NaN,3557823.41,03/28/2022

In [29]:
PPP_loans_step1.shape

(2031, 53)